<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Go Mysql DockerCompose</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="jumbotron">
          <h2>Add user</h2>
          <form method="post" action="/new">
            <div class="form-group">
              <label for="">Name</label>
              <input type="text" name="name" size="30" placeholder="--" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Mail</label>
              <input type="text" name="email" size="30" placeholder="--" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Password</label>
              <input type="password" name="password" placeholder="--" class="form-control">
            </div>
            <p><input type="submit" value="Send" class="btn btn-primary"></p>
          </form>
        </div>
      </div>
      <div class="col-md-8">
        <div class="jumbotron">
          <h2>User list</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Mail</th>
                <th>Password</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {{ range .users }}
                <tr>
                  <td>{{ .Name }}</td>
                  <td>{{ .Email }}</td>
                  <td>{{ .Password }}</td>
                  <td>
                    <form method="post" action="/delete/{{.ID}}">
                      <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                  </td>
                </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    
  </div>
  </body>
</html>